.header-footer__menu-link_active {
    text-decoration-line: none;
}

/* 1 HEADER */

.header {
    padding: 106px 49px 106.2px 59px;
    font-size: 20.7px;
    display: grid;
    grid-template-areas: "menu logo contacts";
    align-items: center;
}

.header__menu {
    display: grid;
    grid-template-areas: "menu1 marker1 menu2 marker2 menu3";
    justify-self: start;
}

.header__links-list-item-img {
    margin: 0 13.5px 0 17px;
}

.header__links-list-item-img img {
    width: 8.05px;
}

.header__logo {
    justify-self: start;
}

.header__logo-image {
    height: 122px;
    margin-left: 22px;
}

.address {
    display: grid;
    grid-template-areas: "tel" "mail" "adres";
    justify-content: end;
    font-style: normal;
}

.header__address {
    margin-right: 13px;
    line-height: 1.31;
}

/* 2 COVER */

.cover {
    display: grid;
    grid-template-areas: "text1" "text2" "text3" "text+button";
    padding: 190px 23px 0 58px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    background-color: lightgray;
    opacity: 0.6;
}

.cover__text {
    font-size: 115px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 35px;
}

.letter-spacing-last {
    margin-left: 35px;
}

.letter-spacing-first {
    margin-right: 35px;
}

.letter-spacing-middle {
    margin-left: 5px;
    word-spacing: 18px;
}

.aligned-text_center {
    margin: 12px 0 4px 527px;
}

.aligned-text_right {
    justify-self: right;
}

.cover__text-footer{
    margin: 161px 0 73px 430px;
    font-size: 26px;
    text-transform: uppercase;
    word-spacing: 15px;
}

.letter-spacing-first-middle{
    letter-spacing: px;
    word-spacing: 19px;
}

.bet-button {
    margin-left: 67px;
    word-spacing: -4px;
    border: 1px solid white;
    padding: 14px 35px 14px 37px;
}

.bet-button a {
    text-decoration-line: none;
}

/* 3 LOTS */

.lots {
    padding: 209px 58px 0 58px;
}

.lots__heading {
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 31px 46px;
}

.lots__card-list {
    padding: 0;
    display: grid;
    grid-template-areas: "lot1 margin1 lot2 margin2 lot3";
    grid-template-columns: 1fr 29px 1fr 29px 1fr;
    height: 521px;
    margin: 0;
    color: white;
}

.card {
    display: grid;
    grid-template-areas: "title" "text";
    padding: 60px 48px 59px 46px;
}

.card_type_film {
    grid-area: lot1;
    background-image: url(../images/card-lot-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightgray;
    opacity: 0.6;
}

.card_type_book {
    grid-area: lot2;
    background-image: url(../images/card-lot-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightgray;
    opacity: 0.6;
}

.card_type_picture {
    grid-area: lot3;
    background-image: url(../images/card-lot-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightgray;
    opacity: 0.6;
}

.card__title {
    font-size: 25px;
    font-weight: 700;
    text-decoration-line: underline;
    text-transform: uppercase;
    word-spacing: 3px;
}

.card__text {
    align-self: end;
    font-size: 23px;
    line-height: 1.2;
}

.lots__look-more-link {
    margin: 36px 0 0 47px;
    font-size: 23px;
}

/* 4 ABOUT */

.about {
    display: grid;
    grid-template-areas: "logo margin article";
    grid-template-columns: 1fr 20px 3fr;
    padding: 210px 60px 0 168px;
}

.about__column {
    width: 277px;
    height: 277px;
    background-color: black;
    border-radius: 50%;
    display: grid;
    grid-template-areas: "logo";
}

 .about__logo-image {
    width: 170px;
    justify-self: center;
    align-self: center;
 }

 .about__article {
    grid-area: article;
 }

 .about__title {
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 46px;
    margin: 116px 0 0 41px;
    word-spacing: 1px;
    margin-bottom: 117px;
 }

 .about__text {
    font-size: 23px;
    font-weight: normal;
    margin: 0 0 0 40px;
    word-spacing: 0.6px;
    letter-spacing: px;
    margin-bottom: 30px;
 }

 /* 5 FOOTER */

 .footer {
    display: grid;
    grid-template-areas: "addres menu social";
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 183px;
    padding-right: 58px;
 }

 .footer__address {
    font-size: 21px;
    margin-left: 58px;
    font-family: Raleway, sans-serif;
    line-height: 1.3;
    font-style: normal;
 }

 .footer__menu {
    font-size: 21px;
    justify-self: center;
    margin-left: 60px;
 }

 .one-menu {
    margin-left: 47px;
 }

.three-menu  {
    margin-left: 23px;
}

 .footer__social-list-item {
    display: grid;
    grid-template-areas: "yt vk pi";
    justify-self: end;
 }

 .footer__social-icon {
    width: 55px;
 }

 .footer_social-med {
    margin: 0 56px
 }


